Repository Da-Fi/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson, @input-output-hk/devops, @newhoggy

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Marcin Karl    Armando Nick     Pawe≈Ç        "Higher ups"
*                                  @coot  @karknu @bolt12 @nfrisby @EncodePanda @input-output-hk/consensus-superowners @input-output-hk/network-superowners

# Network Team

docs                               @coot @karknu @bolt12 @njd42 @peterwthomson @input-output-hk/network-superowners

io-sim                             @coot @input-output-hk/network-superowners
io-sim-classes                     @coot @input-output-hk/network-superowners

network-mux                        @coot @karknu @input-output-hk/network-superowners
ntp-client                         @coot @input-output-hk/network-superowners
typed-protocols                    @coot @input-output-hk/network-superowners
typed-protocols-examples           @coot @input-output-hk/network-superowners
Win32-network                      @coot @input-output-hk/network-superowners

ouroboros-network-framework        @coot @karknu @input-output-hk/network-superowners
ouroboros-network                  @coot @karknu @input-output-hk/network-superowners
ouroboros-network/wireshark-plugin @coot @karknu @input-output-hk/network-superowners
ouroboros-network-testing          @coot @karknu @input-output-hk/network-superowners

cardano-client                     @coot @input-output-hk/network-superowners

scripts/haddocs.sh                 @coot @input-output-hk/network-superowners
scripts/install.ps1                @coot @input-output-hk/network-superowners
scripts/test.sh                    @coot @input-output-hk/network-superowners

# Consensus Team

ouroboros-consensus/               @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @input-output-hk/consensus-superowners

scripts/buildkite/check-stylish.sh @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/                 @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

cabal.project.local.ci.windows     @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
cabal.project.local.github-pages   @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/github-page.yml  @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

.buildkite/slow-ThreadNet-tests.sh @nfrisby @input-output-hk/consensus-superowners
.buildkite/validate-mainnet.sh     @nfrisby @input-output-hk/consensus-superowners

Fix a bug in the QC shrinker for the p2p governor mock environment
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

peer-state-actions: finish a todo
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Slightly simplify the Arbitrary instance for PeerAddr
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Improve the Script shrinker
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/QuickCheck/Utils.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Change the PickScript to pick elements not offsets.
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/QuickCheck/Utils.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add new env tracers for public roots and gossips
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add a "no excessive busyness" test for the p2p governor
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Extend the shrinker tests: test that the shrinkers shrink!
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/QuickCheck/Utils.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Improve counterexamples for +prop_governor_connstatus
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Adjust prop_governor_gossip_1hr to allow demotions
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Improve the mock env pick script interpretation
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Make gossip failure results take non-zero time
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Adjust playTimedScript to trace the initial value
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Adjust prop_governor_connstatus to allow demotions
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Order p2p governor tests after the livelock test
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add a few misc comments and TODOs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/KnownPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Update the comment on the list of properties
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add more Signal primitives
  ouroboros-network/test/Data/Signal.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add review feedback
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add a new signal-based abstraction for expressing properties
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Data/Signal.hs
  ouroboros-network/test/Test/QuickCheck/Signal.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Replace one use of Signal.primitiveTransformEvents
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Adjust LocalRootPeers to require targets > 0
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

New governor properties for making progress towards targets
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Fix prop_governor_target_known_1_valid_subset
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Minor correction in a comment
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

peer-state-actions: removed assertions
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Data.Monoid.Synchronisation
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Data/Monoid/Synchronisation.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

disable subscription dns test
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

inbound-governor: use Data.Monoid.Synchronisation
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Fix the prop_governor_target_known_above property
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add support for hitting the local root peer targets
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Refactored DiffusionArguments for new root peers configuration (#3079)
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Json.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners, @coot, @karknu, @input-output-hk/network-superowners

Adjust established and active target properties for local roots
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Refactored localRootPeersProvider
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

connection-manager: added readState method
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

diffusion: dump connection manager state on SIGUSR1
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add `QueryVersion` corresponding to the version of top level `Query`
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node/Serialisation.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ByronHFC.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Golden.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Roundtrip.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Query/Version.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/NetworkProtocolVersion.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Serialisation.hs
Owners: @coot, @input-output-hk/network-superowners, @nfrisby, @input-output-hk/consensus-superowners

Refactored DNS resolution to use io-sim-classes
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/DNSActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Fixed ouroboros-network:test haddocks
  ouroboros-network/test/Test/Ouroboros/Network/TxSubmission.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Added dns resolution tests
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners
