Repository Da-Fi/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson, @input-output-hk/devops, @newhoggy

NodeToNodeV_7 version for full duplex connection
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

io-sim-classes: Eq instances for stm's mutable varibles
  io-sim-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim-classes/src/Control/Monad/Class/MonadSTM/Strict.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
Owners: @coot, @input-output-hk/network-superowners

connection-manager: types & implementation
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Snocket.Accept
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

connection-manager: ConnectionHandler
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/RethrowPolicy.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

connection-manager: server IO tests
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

ouroboros-network-testing: generate delay with a given precision
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/test/Test/Ouroboros/Network/TxSubmission.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

connection-manager: server
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/ControlChannel.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

connection-manager: simulation test
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

p2p-governor: implement PeerStateActions
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

p2p-governor: peer selection without gossip
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

p2p-governor: localRootPersProvider
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

socket: SO_LINGER option
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

ouroboros-consensus: using updated diffusion interface
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/RethrowPolicy.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

connection-manager: demo
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  scripts/ip.sh
  typed-protocols-examples/src/Network/TypedProtocol/ReqResp/Examples.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

connection-manager: updated diffusion
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

ouroboros-consensus-cardano: node-to-node versions
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

Use ledger as a source for publicRootPeers
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/test/Test/LedgerPeers.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners, @coot, @karknu, @input-output-hk/network-superowners

Force the list of ledger peers to WHNF.
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners, @coot, @karknu, @input-output-hk/network-superowners

Config for ledgerpeers
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Basic churnGovernor based on random selection only
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Keep lookup results for different domains separate
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Improved tracing when ledger peers is disabled
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Don't use static targets
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

PoolStake: derive Real instance
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Sleep between 3300s and 3900s between churns
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

inbound-governor: cleanup
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

server2 tests: better error handling
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Adjust number of active peers based on fetchmode
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners, @coot, @karknu, @input-output-hk/network-superowners

connection-manager: removed assertions in demotedToColdRemote
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Scale pool's stake by sqrt
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Added PeerSelectionCounters and respective tracers.
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

inbound-governor: added hot and warm peer metric
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

server2: do not catch asynchronous exceptions
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

server2: use race rather than concurrently
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Change LocalRootPeers.toGroups to match fromGroups, and use in Show
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Make the arbitraryScriptOf generator more general and use it more
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Restructure the p2p governor tests a bit: split, add and reorder
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Generalise the LocalRootPeers instance for Arbitrary
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Move QC utils to their own module
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/QuickCheck/Utils.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Marcin Karl    Armando Nick     Pawe≈Ç        "Higher ups"
*                                  @coot  @karknu @bolt12 @nfrisby @EncodePanda @input-output-hk/consensus-superowners @input-output-hk/network-superowners

# Network Team

docs                               @coot @karknu @bolt12 @njd42 @peterwthomson @input-output-hk/network-superowners

io-sim                             @coot @input-output-hk/network-superowners
io-sim-classes                     @coot @input-output-hk/network-superowners

network-mux                        @coot @karknu @input-output-hk/network-superowners
ntp-client                         @coot @input-output-hk/network-superowners
typed-protocols                    @coot @input-output-hk/network-superowners
typed-protocols-examples           @coot @input-output-hk/network-superowners
Win32-network                      @coot @input-output-hk/network-superowners

ouroboros-network-framework        @coot @karknu @input-output-hk/network-superowners
ouroboros-network                  @coot @karknu @input-output-hk/network-superowners
ouroboros-network/wireshark-plugin @coot @karknu @input-output-hk/network-superowners
ouroboros-network-testing          @coot @karknu @input-output-hk/network-superowners

cardano-client                     @coot @input-output-hk/network-superowners

scripts/haddocs.sh                 @coot @input-output-hk/network-superowners
scripts/install.ps1                @coot @input-output-hk/network-superowners
scripts/test.sh                    @coot @input-output-hk/network-superowners

# Consensus Team

ouroboros-consensus/               @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @input-output-hk/consensus-superowners

scripts/buildkite/check-stylish.sh @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/                 @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

cabal.project.local.ci.windows     @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
cabal.project.local.github-pages   @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/github-page.yml  @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

.buildkite/slow-ThreadNet-tests.sh @nfrisby @input-output-hk/consensus-superowners
.buildkite/validate-mainnet.sh     @nfrisby @input-output-hk/consensus-superowners
