Repository Da-Fi/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson, @input-output-hk/devops, @newhoggy

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Marcin Karl    Armando Nick     Pawe≈Ç        "Higher ups"
*                                  @coot  @karknu @bolt12 @nfrisby @EncodePanda @input-output-hk/consensus-superowners @input-output-hk/network-superowners

# Network Team

docs                               @coot @karknu @bolt12 @njd42 @peterwthomson @input-output-hk/network-superowners

io-sim                             @coot @input-output-hk/network-superowners
io-sim-classes                     @coot @input-output-hk/network-superowners

network-mux                        @coot @karknu @input-output-hk/network-superowners
ntp-client                         @coot @input-output-hk/network-superowners
typed-protocols                    @coot @input-output-hk/network-superowners
typed-protocols-examples           @coot @input-output-hk/network-superowners
Win32-network                      @coot @input-output-hk/network-superowners

ouroboros-network-framework        @coot @karknu @input-output-hk/network-superowners
ouroboros-network                  @coot @karknu @input-output-hk/network-superowners
ouroboros-network/wireshark-plugin @coot @karknu @input-output-hk/network-superowners
ouroboros-network-testing          @coot @karknu @input-output-hk/network-superowners

cardano-client                     @coot @input-output-hk/network-superowners

scripts/haddocs.sh                 @coot @input-output-hk/network-superowners
scripts/install.ps1                @coot @input-output-hk/network-superowners
scripts/test.sh                    @coot @input-output-hk/network-superowners

# Consensus Team

ouroboros-consensus/               @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @input-output-hk/consensus-superowners

scripts/buildkite/check-stylish.sh @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/                 @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

cabal.project.local.ci.windows     @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
cabal.project.local.github-pages   @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/github-page.yml  @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

.buildkite/slow-ThreadNet-tests.sh @nfrisby @input-output-hk/consensus-superowners
.buildkite/validate-mainnet.sh     @nfrisby @input-output-hk/consensus-superowners

connection-manager: added readState method
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

diffusion: dump connection manager state on SIGUSR1
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add some randomness to the reconnection delay
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Added DiffusionP2P.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/DiffusionP2P.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners, @coot, @karknu, @input-output-hk/network-superowners

typed-protocols: added TokPeerRole
  typed-protocols/src/Network/TypedProtocol/Core.hs
Owners: @coot, @input-output-hk/network-superowners

handshake codec
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

handshake: resiliant for simultanous open
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

CAD-2907 ouroboros-consensus-shelley: computation stub module
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Stub.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

CAD-2907 ouroboros-consensus-shelley: prevent GHC floating the stub closure
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

Added nullTracers to Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add fuzz delay to asynchronous transitions
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add some randomness to the reconnection delay
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Add fuzz delay to asynchronous transitions
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Rate-limit rollbacks when a peer is rapidly switching forks.
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

Improved documentation on ChainSync client implementation.
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

Set the peer as warm before monitoring
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

typed-protocols: added TokPeerRole
  typed-protocols/src/Network/TypedProtocol/Core.hs
Owners: @coot, @input-output-hk/network-superowners

handshake: resiliant for simultanous open
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/test-cddl/Main.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

handshake: added test for a simultaneous open connections
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

handshake: updated network-spec
  docs/network-spec/miniprotocols.tex
  docs/network-spec/network-spec.tex
Owners: @coot, @karknu, @bolt12, @njd42, @peterwthomson, @input-output-hk/network-superowners

Fix races related to updating PeerState
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

io-sim-classes: added peekTQueue and firends
  io-sim-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
Owners: @coot, @input-output-hk/network-superowners, @nfrisby, @input-output-hk/consensus-superowners

snockets - monadic toBearer
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

io-sim: selectTraceEvents' and friends
  io-sim/src/Control/Monad/IOSim.hs
Owners: @coot, @input-output-hk/network-superowners

io-sim-classes: derive Generic instance of Time
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
Owners: @coot, @input-output-hk/network-superowners

ouroboros-network-framework: simulated network environment
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/IOSim.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

network-mux: newtype wrapper for SDUSize
  network-mux/src/Network/Mux/Bearer/NamedPipe.hs
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Egress.hs
  network-mux/src/Network/Mux/Types.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network/test/Test/Mux.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

network-mux: AttenuatedChannel
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

client-server test of network simulation environment
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/IOSim.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

github-actions: use cabal-3.4.0.0
  .github/workflows/build.yml
Owners: @coot, @newhoggy, @input-output-hk/devops, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

Add a re-promotion delay
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

address review comments
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

handshake: proofs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Proofs.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

handshake: derive server from the client
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Updated call sites of `Strict.stateTVar`
  network-mux/src/Network/Mux/DeltaQ/TraceStats.hs
  network-mux/src/Network/Mux/DeltaQ/TraceTransformer.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Follower.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners, @nfrisby, @input-output-hk/consensus-superowners

Added Cache component
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Data/Cache.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Cached InboundGovernorCounters
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Cached PeerSelectionCounters
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Hot / Warm / Established distinction
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

MuxMode module with various 'MuxMode' singletons
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/MuxMode.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners
